<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.demo.infra.mapper.InvCountHeaderMapper">


    <sql id = "BaseSql">
        fich.count_header_id,
        fich.approved_time,
        fich.attribute1,
        fich.attribute10,
        fich.attribute11,
        fich.attribute12,
        fich.attribute13,
        fich.attribute14,
        fich.attribute15,
        fich.attribute2,
        fich.attribute3,
        fich.attribute4,
        fich.attribute5,
        fich.attribute6,
        fich.attribute7,
        fich.attribute8,
        fich.attribute9,
        fich.attribute_category,
        fich.company_id,
        fich.count_dimension,
        fich.count_mode,
        fich.count_number,
        fich.count_status,
        fich.count_time_str,
        fich.count_type,
        fich.counter_ids,
        fich.del_flag,
        fich.department_id,
        fich.reason,
        fich.related_wms_order_code,
        fich.remark,
        fich.snapshot_batch_ids,
        fich.snapshot_material_ids,
        fich.source_code,
        fich.source_id,
        fich.source_system,
        fich.supervisor_ids,
        fich.tenant_id,
        fich.warehouse_id,
        fich.workflow_id,
        fich.creation_date, 
        fich.created_by, 
        fich.last_updated_by, 
        fich.last_update_date, 
        fich.object_version_number
    </sql>

    <select id = "selectList" resultType = "com.hand.demo.api.dto.InvCountHeaderDTO">
        select
        <include refid = "BaseSql"/>
        from fexam_inv_count_header fich
        <where>
            <if test="countDimension !=null">
                and fich.count_dimension = #{countDimension,jdbcType = VARCHAR}
            </if>
            <if test="countMode !=null">
                and fich.count_mode = #{countMode,jdbcType = VARCHAR}
            </if>
            <if test="countNumber !=null">
                AND fich.count_number LIKE CONCAT('%', #{countNumber}, '%')
            </if>
            <if test="countStatus !=null">
                and fich.count_status = #{countStatus,jdbcType = VARCHAR}
            </if>
            <if test="countType !=null">
                and fich.count_type = #{countType,jdbcType = VARCHAR}
            </if>
            <if test="supervisor != null">
                and FIND_IN_SET(#{supervisor,jdbcType=VARCHAR}, fich.supervisor_ids)
            </if>
        </where>
    </select>
</mapper>

