<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.demo.infra.mapper.InvCountHeaderMapper">
    <resultMap id="InvCountHeaderDTOMap" type="com.hand.demo.api.dto.InvCountHeaderDTO">
        <!-- Header fields -->
        <id column="id" property="countHeaderId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="supervisor_ids" property="supervisorIds"/>
        <result column="workflow_id" property="workflowId"/>
        <result column="number" property="countNumber"/>
        <result column="type" property="countType"/>
        <result column="created_by" property="createdBy"/>
        <result column="status" property="countStatus"/>
        <result column="creator_name" property="creatorName"/>
        <result column="count_time_str" property="countTimeStr"/>
        <result column="creation_date" property="creationDate"/>
        <result column="mode" property="countMode"/>
        <result column="dimension" property="countDimension"/>
        <result column="remark" property="remark"/>
        <result column="reason" property="reason"/>
        <result column="warehouse_warehouse_code" property="warehouseCode"/>
        <result column="warehouse_is_wms_warehouse" property="isWMSWarehouse"/>
        <result column="department_department_code" property="departmentCode"/>
        <result column="tenant_tenant_num" property="tenantNum"/>
        <result column="object_version_number" property="objectVersionNumber"/>

        <!-- Counter List -->
        <collection property="counterList" ofType="com.hand.demo.api.dto.UserDTO">
            <id column="counter_id" property="id"/>
            <result column="counter_name" property="realName"/>
        </collection>

        <!-- Supervisor List -->
        <collection property="supervisorList" ofType="com.hand.demo.api.dto.UserDTO">
            <id column="supervisor_id" property="id"/>
            <result column="supervisor_name" property="realName"/>
        </collection>

        <!-- Snapshot Material List -->
        <collection property="snapshotMaterialList" ofType="com.hand.demo.domain.entity.InvMaterial">
            <id column="material_id" property="materialId"/>
            <result column="material_code" property="materialCode"/>
        </collection>

        <!-- Snapshot Batch List -->
        <collection property="snapshotBatchList" ofType="com.hand.demo.domain.entity.InvBatch">
            <id column="batch_id" property="batchId"/>
            <result column="batch_code" property="batchCode"/>
        </collection>

        <!-- InvCountLine List -->
        <collection property="invCountLineDTOList" ofType="com.hand.demo.api.dto.InvCountLineDTO">
            <id column="line_id" property="countLineId"/>
            <result column="line_header_id" property="countHeaderId"/>
            <result column="line_tenant_id" property="tenantId"/>
            <result column="line_line_number" property="lineNumber"/>
            <result column="line_material_name" property="materialName"/>
            <result column="line_material_code" property="materialCode"/>
            <result column="line_unit_code" property="unitCode"/>
            <result column="line_batch_code" property="batchCode"/>
            <result column="line_snapshot_unit_qty" property="snapshotUnitQty"/>
            <result column="line_unit_qty" property="unitQty"/>
            <result column="line_unit_diff_qty" property="unitDiffQty"/>
            <result column="line_remark" property="remark"/>
            <result column="line_object_version_number" property="objectVersionNumber"/>
            <collection property="counterList" ofType="com.hand.demo.api.dto.UserDTO">
                <id column="line_counter_id" property="id"/>
                <result column="line_counter_name" property="realName"/>
            </collection>
        </collection>
    </resultMap>

    <sql id = "BaseSql">
        h.count_header_id       AS id,
        h.tenant_id             AS tenant_id,
        h.supervisor_ids        AS supervisor_ids,
        h.workflow_id           AS workflow_id,
        h.creation_date         AS creation_date,
        h.count_number          AS number,
        h.count_type            AS type,
        h.created_by            AS created_by,
        cn.real_name            AS creator_name,
        h.count_status          AS status,
        h.count_time_str        AS count_time_str,
        h.creation_date         AS creation_date,
        h.count_mode            AS mode,
        h.count_dimension       AS dimension,
        h.object_version_number AS object_version_number,
        h.remark                AS remark,
        h.reason                AS reason,
        c.id                    AS counter_id,
        c.real_name             AS counter_name,
        s.id                    AS supervisor_id,
        s.real_name             AS supervisor_name,
        m.material_id           AS material_id,
        m.material_code         AS material_code,
        b.batch_id              AS batch_id,
        b.batch_code            AS batch_code,
        w.warehouse_code        AS warehouse_warehouse_code,
        w.is_wms_warehouse      AS warehouse_is_wms_warehouse,
        d.department_code       AS department_department_code,
        t.tenant_num            AS tenant_tenant_num
    </sql>

    <select id = "selectList" resultMap="InvCountHeaderDTOMap">
        SELECT
        <include refid = "BaseSql"/>
        FROM
        fexam_inv_count_header h
        LEFT JOIN hzero_platform.hpfm_tenant t  ON t.tenant_id = h.tenant_id
        LEFT JOIN hzero_platform.iam_user cn    ON cn.id = h.created_by
        LEFT JOIN hzero_platform.iam_user c     ON FIND_IN_SET(c.id, h.counter_ids) > 0
        LEFT JOIN hzero_platform.iam_user s     ON FIND_IN_SET(s.id, h.supervisor_ids) > 0
        LEFT JOIN fexam_inv_material m          ON FIND_IN_SET(m.material_id, h.snapshot_material_ids) > 0
        LEFT JOIN fexam_inv_batch b             ON FIND_IN_SET(b.batch_id, h.snapshot_batch_ids) > 0
        LEFT JOIN fexam_inv_warehouse w         ON w.warehouse_id = h.warehouse_id
        LEFT JOIN fexam_iam_department d        ON d.department_id = h.department_id
        LEFT JOIN fexam_inv_count_line l        ON l.count_header_id = h.count_header_id
        <where>
            <if test="countHeaderId !=null">
                and h.count_header_id = #{countHeaderId,jdbcType = INTEGER}
            </if>
            <if test="countNumber !=null">
                AND h.count_number LIKE CONCAT('%', #{countNumber, jdbcType=VARCHAR}, '%')
            </if>
            <if test="countStatus !=null">
                and h.count_status = #{countStatus,jdbcType = VARCHAR}
            </if>
            <if test="countDimension !=null">
                and h.count_dimension = #{countDimension,jdbcType = VARCHAR}
            </if>
            <if test="countType !=null">
                and h.count_type = #{countType,jdbcType = VARCHAR}
            </if>
            <if test="countMode !=null">
                and h.count_mode = #{countMode,jdbcType = VARCHAR}
            </if>
            <if test="supervisorIds != null">
                and FIND_IN_SET(#{supervisorIds, jdbcType=VARCHAR}, h.supervisor_ids) > 0
            </if>
            <if test="ids != null">
                and FIND_IN_SET(h.count_header_id,#{ids, jdbcType=VARCHAR}) > 0
            </if>
        </where>
    </select>
</mapper>

