<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.demo.infra.mapper.InvCountLineMapper">
    <resultMap id="InvCountLineDTOMap" type="com.hand.demo.api.dto.InvCountLineDTO">
        <id column="id" property="countLineId"/>
        <result column="header_id" property="countHeaderId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="line_number" property="lineNumber"/>
        <result column="material_name" property="materialName"/>
        <result column="material_code" property="materialCode"/>
        <result column="unit_code" property="unitCode"/>
        <result column="batch_code" property="batchCode"/>
        <result column="snapshot_unit_qty" property="snapshotUnitQty"/>
        <result column="unit_qty" property="unitQty"/>
        <result column="unit_diff_qty" property="unitDiffQty"/>
        <result column="remark" property="remark"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <collection property="counterList" ofType="com.hand.demo.api.dto.UserDTO">
            <id column="counter_id" property="id"/>
            <result column="counter_name" property="realName"/>
        </collection>
    </resultMap>
    <sql id = "BaseSql">
        l.count_line_id         AS id,
        l.count_header_id       AS header_id,
        l.line_number           AS line_number,
        l.unit_code             AS unit_code,
        l.snapshot_unit_qty     AS snapshot_unit_qty,
        l.unit_qty              AS unit_qty,
        l.unit_diff_qty         AS unit_diff_qty,
        l.tenant_id             AS tenant_id,
        l.object_version_number AS object_version_number,
        l.remark                AS remark,
        lb.batch_code           AS batch_code,
        lu.id                   AS counter_id,
        lu.real_name            AS counter_name,
        lm.material_name        AS material_name,
        lm.material_code        AS material_code
    </sql>
    <select id = "selectList" resultMap="InvCountLineDTOMap" >
        select
        <include refid = "BaseSql"/>
        from fexam_inv_count_line l
        LEFT JOIN fexam_inv_material lm         ON lm.material_id = l.material_id
        LEFT JOIN fexam_inv_batch lb            ON lb.batch_id = l.batch_id
        LEFT JOIN hzero_platform.iam_user lu    ON FIND_IN_SET(lu.id, l.counter_ids) > 0
        <where>
            <if test="countLineId !=null">
                and l.count_line_id = #{countLineId,jdbcType = INTEGER}
            </if>
            <if test="batchId !=null">
                and l.batch_id = #{batchId,jdbcType = INTEGER}
            </if>
            <if test="countHeaderId !=null">
                and l.count_header_id = #{countHeaderId,jdbcType = INTEGER}
            </if>
            <if test="counterIds !=null">
                and l.counter_ids = #{counterIds,jdbcType = VARCHAR}
            </if>
            <if test="lineNumber !=null">
                and l.line_number = #{lineNumber,jdbcType = INTEGER}
            </if>
            <if test="materialId !=null">
                and l.material_id = #{materialId,jdbcType = INTEGER}
            </if>
            <if test="remark !=null">
                and l.remark = #{remark,jdbcType = VARCHAR}
            </if>
            <if test="snapshotUnitQty !=null">
                and l.snapshot_unit_qty = #{snapshotUnitQty,jdbcType = OTHER}
            </if>
            <if test="tenantId !=null">
                and l.tenant_id = #{tenantId,jdbcType = INTEGER}
            </if>
            <if test="unitCode !=null">
                and l.unit_code = #{unitCode,jdbcType = VARCHAR}
            </if>
            <if test="unitDiffQty !=null">
                and l.unit_diff_qty = #{unitDiffQty,jdbcType = OTHER}
            </if>
            <if test="unitQty !=null">
                and l.unit_qty = #{unitQty,jdbcType = OTHER}
            </if>
            <if test="warehouseId !=null">
                and l.warehouse_id = #{warehouseId,jdbcType = INTEGER}
            </if>
        </where>
    </select>
    <select id="selectMaxLineNumber" resultType="java.lang.Integer">
        SELECT MAX(l.line_number) AS maxLineNumber
        FROM fexam_inv_count_line l
    </select>
</mapper>

